- if @gh_repos
  %h1= "Listing #{@owner}'s Repositories(#{ @gh_repos.size })"
  = render 'repo_list'

- elsif @orgs
  %h1= "Listing Organizations(#{ @orgs.size })"
  = render 'org_list'

/ We can be more efficient here.
/ We don't need a new instance of ToggleRepositoryWatch for each form
- content_for :javascript_bottom do
  :coffeescript
    $ ->
      $('.repository_actions form').each ->
        new ToggleRepositoryWatch($(@))
