- if @gh_repos
  %h2= "#{@owner}'s repositories:"
  = render 'repo_list'

- elsif @orgs
  %h2= "Your Organizations:"
  = render 'org_list'

/ We can be more efficient here.
/ We don't need a new instance of ToggleRepositoryWatch for each form
- content_for :javascript_bottom do
  :coffeescript
    $ ->
      $('.repository_actions form').each ->
        new ToggleRepositoryWatch($(@))
