- if repository.open_reqs.count > 0
  %table
    %tr
      %th Build Status
      %th ID & Title
      %th Creator
      %th Reviewer
    - repository.open_reqs.each do |pull|
      %tr
        %td.status_badge
          .badge_image
            = circle_ci_badge(repository.owner, repository.name, pull[:head][:ref])
        %td.pull_info
          %h4.repo_title
            %a{href: pull[:html_url], target: '_blank'}
              = "##{pull[:number]}: #{pull[:title]}"
          .branch
            branch:
            %a{href: "https://github.com/#{repository.owner}/#{repository.name}/commits/#{pull[:head][:ref]}", target: '_blank'}
              = pull[:head][:ref]
          .content= render_markdown(pull[:body])
        %td.avatar
          %a.creator_link{href: "https://github.com/#{pull[:user][:login]}", target: '_blank'}
            .pr_creator= pull[:user][:login]
            %img.avatar{src: pull[:user][:avatar_url]}
        %td.avatar
          - assigned = pull[:assignee] || {}
          %a.creator_link{href: "https://github.com/#{assigned[:login] || repository.owner}", target: '_blank'}
            .pr_assignee= assigned[:login] || "Unassigned"
            %img.avatar{src: assigned[:avatar_url]}

          %select.chosen{id: "pull_#{pull[:id]}_assignee", data: {repository_id: repository.id, pull_number: pull[:number]}}
            - repository.assignees.each do |assignee|
              %option{value: assignee[:login], data: {avatar_url: assignee[:avatar_url]}, selected: pull.try(:[], :assignee).try(:[], :login) == assignee[:login] }= assignee[:login]


- else
  .no_active_prs{style: 'font-weight: bold;'}
    There are no open pull requests

