- if pulls.count > 0
  %table
    %tr
      %th Build Status
      %th ID & Title
      %th Creator
      %th Reviewer
    - pulls.each do |pull|
      %tr
        %td.status_badge
          .badge
            = circle_ci_badge(pull[:head][:repo][:name], pull[:head][:ref])
        %td.pull_info
          %h4
            %a{href: pull[:html_url], target: '_blank'}
              = "##{pull[:number]}: #{pull[:title]}"
          .branch
            %a{href: "https://github.com/howaboutwe/#{pull[:head][:repo][:name]}/commits/#{pull[:head][:ref]}", target: '_blank'}
              = pull[:head][:ref]
          .content= pull[:body]
        %td.avatar
          %a.creator_link{href: "https://github.com/#{pull[:user][:login]}", target: '_blank'}
            .pr_creator= pull[:user][:login]
            %img.avatar{src: pull[:user][:avatar_url]}
        %td.avatar
          - if pull[:assignee]
            %a.creator_link{href: "https://github.com/#{pull[:assignee][:login]}", target: '_blank'}
              .pr_assignee= pull[:assignee][:login]
              %img.avatar{src: pull[:assignee][:avatar_url]}
- else
  There are no open pull requests
