- if prs.nil?
  -# Nothing to see here.

- elsif watch.open_reqs.count > 0
  %table
    %tr
      %th Build Status
      %th ID & Title
      %th Creator
      %th Reviewer
    - watch.open_reqs.each do |pull|
      %tr
        %td.status_badge
          .badge
            = circle_ci_badge(watch.repo_owner, watch.repo_name, pull[:head][:ref])
        %td.pull_info
          %h4
            %a{href: pull[:html_url], target: '_blank'}
              = "##{pull[:number]}: #{pull[:title]}"
          .branch
            branch:
            %a{href: "https://github.com/#{watch.repo_owner}/#{watch.repo_name}/commits/#{pull[:head][:ref]}", target: '_blank'}
              = pull[:head][:ref]
          .content= render_markdown(pull[:body])
        %td.avatar
          %a.creator_link{href: "https://github.com/#{pull[:user][:login]}", target: '_blank'}
            .pr_creator= pull[:user][:login]
            %img.avatar{src: pull[:user][:avatar_url]}
        %td.avatar
          - if pull[:assignee]
            %a.creator_link{href: "https://github.com/#{pull[:assignee][:login]}", target: '_blank'}
              .pr_assignee= pull[:assignee][:login]
              %img.avatar{src: pull[:assignee][:avatar_url]}

- else
  .no_active_prs{style: 'font-weight: bold;'}
    There are no open pull requests

