.remove_watch{style: 'float:right; margin-top: 40px;'}
  = form_tag(watch_path(watch.repo_id), method: :delete) do
    %input.btn.btn-danger{type: 'submit', value: 'Delete Watch'}

%h3
  %a{href: "https://www.github.com/#{watch.repo_owner}/#{watch.repo_name}/pulls", target: '_blank'}
    = "#{ watch.repo_name } (#{watch.open_reqs.count})"
  = circle_ci_badge(watch.repo_owner, watch.repo_name, 'master')
= render partial: 'pull_requests', locals: {watch: watch}

