%h2= "#{current_user.name}'s Account"

= simple_form_for current_user, url: account_path do |f|
  = f.input :name
  = f.submit 'Update!'

%h3 In the future you'll also be able to...
%ul
  %li Set your CI keys on a per repo basis
  %li Ponnies!
